body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
}

p {
  margin-bottom: 1em;
  padding: .5em;
  border-radius: 3px;
  background: #eee;
}

.gamepad {
  background: #eee;
  border-radius: .5em;
  border: 2px solid black;
  font-weight: 700;
}

.gamepad ul {
  list-style: none;
}

.gamepad ul li {
  font-size: .8em;
  color:blue;
  display: inline-block;
  width: 200px;
  padding: 5px;
  background: lightblue;
  margin: 5px;
  border-radius: 5px;
}